{% extends "browsing/generic_detail.html" %}
{% load static %}
{% load leaflet_tags %}
{% load transkribus_extras %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block scriptHeader %}
    {% leaflet_js %}
    {% leaflet_css %}
    <script src="{{ openseadragon_js }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/three@latest/build/three.min.js"></script>
    <script crossorigin src="https://unpkg.com/@acdh/network-visualization@0/lib/network-visualization.umd.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/wordcloud.js"></script>
{% endblock scriptHeader %}
{% block custom %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Info</h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>
                                {% get_verbose_name archresource "title" %}
                            </th>
                            <td>
                                {{ object.title }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name archresource "signature" %}
                            </th>
                            <td>
                                {{ object.signature }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name archresource "archiv" %}
                            </th>
                            <td>
                                <a href="{{ object.archiv.get_absolute_url }}">{{ object.archiv }}</a>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name archresource "written_date" %}
                            </th>
                            <td>
                                {{ object.written_date }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name archresource "not_before" %}
                            </th>
                            <td>
                                {{ object.not_before }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name archresource "not_after" %}
                            </th>
                            <td>
                                {{ object.not_after }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name archresource "res_type" %}
                            </th>
                            <td>
                                {{ object.res_type }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name archresource "permalink" %}
                            </th>
                            <td>
                                <a href="{{ object.permalink }}">{{ object.permalink }}</a>
                            </td>
                        </tr>
                        {% if history %}
                        <tr>
                            <th>
                                Curation history
                            </th>
                            <td>
                                {% if history %}
                                    {% for x in history %}
                                        <li>
                                            {{ x.revision.date_created }} changed by {{ x.revision.user }}
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Netzwerk</h4>
                </div>
                <div class="card-body">
                    <div id="visualization" style="position: relative; height: 400px; background: #fafafa;"></div>
                    <script type="text/javascript">
                        const visCard = document.getElementById('visualization')
                        var spinner = new Spinner().spin();
                        visCard.appendChild(spinner.el);
                        fetch("{% url 'netviz:graph' app_name='archiv' model_name='archresource' pk=object.id %}")
                          .then(response => response.json())
                          .then((graph) => {
                            // jsonData is parsed json object received from url
                            ReactDOM.render(
                                React.createElement(NetworkVisualization.SelectionControls, {graph}),
                                document.getElementById('visualization')
                            )
                          })
                          .catch((error) => {
                            // handle your errors here
                            console.error(error)
                          })
                        // const graph = JSON.parse(document.getElementById('netviz-data').textContent);

                    </script>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Wortwolke</h4>
                </div>
                <div class="card-body">
                    <div id="wordcloud" style="position: relative; height: 400px; background: #fafafa;"></div>
                </div>
                <script type="text/javascript">
                    const my_wcloud = document.getElementById('wordcloud')
                    var spinner = new Spinner().spin();
                    my_wcloud.appendChild(spinner.el);
                    fetch("{% url 'wordcloud:words' app_name='archiv' model_name='archresource' pk=object.id field_name='abstract' %}")
                      .then(response => response.json())
                      .then((data) => {
                        // jsonData is parsed json object received from url
                        console.log(data)
                        Highcharts.chart(my_wcloud, {
                            series: [{
                                type: 'wordcloud',
                                data: data,
                                name: 'Occurrences'
                            }],
                            title: false
                        });
                      })
                      .catch((error) => {
                        // handle your errors here
                        console.error(error)
                      })
                    // const graph = JSON.parse(document.getElementById('netviz-data').textContent);

                </script>
            </div>
            {% if object.doc_id %}
                <div class="card">
                    <div class="card-header">
                        <h2>Faksimile</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% for x in object.trp_fetch_md.trp_return.pageList.pages %}
                                <div class="col">
                                    <div class="card">
                                        <div class="card-header">
                                            Seite {{ x.pageNr }}
                                        </div>
                                        <div class="card-body">
                                            <a href="{% url 'transkribus:trp_page' col_id=object.col_id doc_id=object.doc_id page_id=x.pageNr %}"><img src="{{ x.thumbUrl }}" /></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Inhalt</h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>
                                {% get_verbose_name archresource "abstract" %}
                            </th>
                            <td>
                                {{ object.abstract }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name archresource "notes" %}
                            </th>
                            <td>
                                {{ object.notes }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name archresource "subject_free" %}
                            </th>
                            <td>
                                {{ object.subject_free }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name archresource "subject_norm" %}
                            </th>
                            <td>
                                {% for x in object.subject_norm.all %}
                                    <li>
                                        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Beziehungen</h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>
                                {% get_verbose_name archresource "creator_inst" %}
                            </th>
                            <td>
                                {% for x in object.creator_inst.all %}
                                    <li>
                                        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name archresource "creator_person" %}
                            </th>
                            <td>
                                {% for x in object.creator_person.all %}
                                    <li>
                                        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name archresource "mentioned_person" %}
                            </th>
                            <td>
                                {% for x in object.mentioned_person.all %}
                                    <li>
                                        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name archresource "mentioned_inst" %}
                            </th>
                            <td>
                                {% for x in object.mentioned_inst.all %}
                                    <li>
                                        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name archresource "mentioned_place" %}
                            </th>
                            <td>
                                {% for x in object.mentioned_place.all %}
                                    <li>
                                        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name archresource "rel_res" %}
                            </th>
                            <td>
                                {% for x in object.rel_res.all %}
                                    <li>
                                        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Im Dokument erwähnte Orte</h4>
                </div>
                <div class="card-body">
                        <script type="text/javascript">

                            function map_init_basic (map, options) {
                                {% for x in object.mentioned_place.all %}
                                    {% if x.lat %}
                                        var placeName = "<a href='{{ x.get_absolute_url }}'>{{ x.name }}</a>"
                                        var lat = "{{ x.lat }}"
                                        var lng = "{{ x.lng }}"
                                        L.marker([parseFloat(lat), parseFloat(lng)]).addTo(map)
                                        .bindPopup(placeName)
                                        .openPopup();
                                    {% endif %}
                                {% endfor %}
                                };

                        </script>
                    <div style="padding:0;">

                        {% leaflet_map "yourmap" callback="window.map_init_basic" %}

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
