{% extends "webpage/base.html" %}
{% block title %}{{ object }}{% endblock %}
{% block scriptHeader %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/three@latest/build/three.min.js"></script>
    <script crossorigin src="https://unpkg.com/@acdh/network-visualization@0/lib/network-visualization.umd.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/wordcloud.js"></script>
{% endblock scriptHeader %}
{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-2">
                    {% if object.get_prev %}
                        <h2>
                            <a href="{% url 'vocabs:skosconcept_detail' pk=object.get_prev %}">
                                <i class="fas fa-chevron-left" title="previous"></i>
                            </a>
                        </h2>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h1 style="text-align: center;">
                        <small><a href="{{ object.get_listview_url }}">Schlagwort</a>:</small> {{ object }}
                        {% if user.is_authenticated %}
                            <small>
                                <a href="{% url 'vocabs:skosconcept_update' pk=object.id %}">
                                    <i class="far fa-edit" title="edit"></i>
                                </a>
                            </small>
                            |
                            <small>
                                <a href="{% url 'vocabs:skosconcept_delete' pk=object.id %}">
                                    <i class="far fa-trash-alt" title="delete"></i>
                                </a>
                            </small>
                        {% endif %}
                    </h1>
                </div>
            <div class="col-md-2">
                <h2>
                    {% if object.get_next %}
                    <a href="{% url 'vocabs:skosconcept_detail' pk=object.get_next %}" style="float:right">
                        <i class="fas fa-chevron-right" title="next"></i>
                    </a>
                </h2>
                {% endif %}
            </div>
        </div>
    </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-2">
                    {% if object.broader_concept %}
                        <div class="card">
                            <div class="card-header">übergeordnetes Konzept</div>
                            <div class="card-body">
                                {% if object.broader_concept %}
                                    <a href="{{ object.broader_concept.get_absolute_url }}">{{ object.broader_concept }}</a>
                                {% endif %}
                                {% for x in object.get_broader %}
                                    <a href="{% url 'vocabs:skosconcept_detail' pk=x.id %}">{{ x }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% if object.other_label.all %}
                    <div class="card">
                        <div class="card-header">Synonym(e)</div>
                        <div class="card-body">
                            {% for x in object.other_label.all %}
                                <li>
                                    {{ x.label }}
                                </li>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% if object.narrower_concepts.all %}
                        <div class="card">
                            <div class="card-header">untergeordnete Konzepte</div>
                            <div class="card-body">
                                {% for x in object.narrower_concepts.all %}
                                    <a href="{% url 'vocabs:skosconcept_detail' pk=x.id %}">{{ x }}</a> <br/>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>verbundene Objekte</h4>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered table-striped table-hover">
                                {% if object.subject_norm_of.all %}
                                    <tr>
                                        <td>
                                            Dokumente
                                        </td>
                                        <td>
                                            {% for x in object.subject_norm_of.all %}
                                                <li>
                                                    <a href="{{x.get_absolute_url }}">{{ x }}</a>
                                                </li>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if object.definition %}
                                    <tr>
                                        <td>skos:definition | @{{ object.definition_lang }}</td>
                                        <td>{{ object.definition }}</td>
                                    </tr>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Netzwerk</h4>
                        </div>
                        <div class="card-body">
                            <div id="visualization" style="position: relative; height: 400px; background: #fafafa;"></div>
                            <script type="text/javascript">
                                const visCard = document.getElementById('visualization')
                                var spinner = new Spinner().spin();
                                visCard.appendChild(spinner.el);
                                fetch("{% url 'netviz:graph' app_name='vocabs' model_name='skosconcept' pk=object.id %}")
                                  .then(response => response.json())
                                  .then((graph) => {
                                    // jsonData is parsed json object received from url
                                    ReactDOM.render(
                                        React.createElement(NetworkVisualization.SelectionControls, {graph}),
                                        document.getElementById('visualization')
                                    )
                                  })
                                  .catch((error) => {
                                    // handle your errors here
                                    console.error(error)
                                  })
                                // const graph = JSON.parse(document.getElementById('netviz-data').textContent);

                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
