{% extends "browsing/generic_detail.html" %}
{% load staticfiles %}
{% load leaflet_tags %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block scriptHeader %}
    {% leaflet_js %}
    {% leaflet_css %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/three@latest/build/three.min.js"></script>
    <script crossorigin src="https://unpkg.com/@acdh/network-visualization@latest/lib/network-visualization.umd.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/wordcloud.js"></script>
{% endblock scriptHeader %}
{% block custom %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Info</h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        {% if object.written_name %}
                        <tr>
                            <th>
                                {% get_verbose_name institution "written_name" %}
                            </th>
                            <td>
                                {{ object.written_name }}
                            </td>
                        </tr>
                        {% endif %}
                        {% if object.alt_names != 'False' %}
                        <tr>
                            <th>
                                {% get_verbose_name institution "alt_names" %}
                            </th>
                            <td>
                                {{ object.alt_names }}
                            </td>
                        </tr>
                        {% endif %}
                        {% if object.abbreviation %}
                            <tr>
                                <th>
                                    {% get_verbose_name institution "abbreviation" %}
                                </th>
                                <td>
                                    {{ object.abbreviation }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if object.comment %}
                        <tr>
                            <th>
                                {% get_verbose_name institution "comment" %}
                            </th>
                            <td>
                                {{ object.comment }}
                            </td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Ort und Kontext</h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        {% if object.location %}
                            <tr>
                                <th>
                                    {% get_verbose_name institution "location" %}
                                </th>
                                <td>
                                    <a href="{{ object.location.get_absolute_url }}">
                                        {{ object.location }}
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                        {% if object.parent_institution %}
                            <tr>
                                <th>
                                    {% get_verbose_name institution "parent_institution" %}
                                </th>
                                <td>
                                    <a href="{{ object.parent_institution.get_absolute_url }}">
                                        {{ object.parent_institution }}
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>
                                {% get_verbose_name institution "institution_type" %}
                            </th>
                            <td>
                                {{ object.institution_type }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Beziehungen</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Zu Dokumenten</h4>
                        </div>
                        <div class="card-body">
                            {% if object.has_docs_archived.all %}
                                <legend>
                                    Archiviert Dokumente
                                </legend>
                                <ul>
                                    {% for x in object.has_docs_archived.all %}
                                        <li>
                                            <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <legend>
                                Erzeuger von
                            </legend>
                            <ul>
                                {% for x in object.created_by_inst.all %}
                                    <li>
                                        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <legend>
                                Erwähnt in
                            </legend>
                            <ul>
                                {% for x in object.inst_mentioned_in_res.all %}
                                    <li>
                                        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Zu Personen</h4>
                        </div>
                        <div class="card-body">
                            <ul>
                                {% for x in object.has_member.all %}
                                    <li>
                                        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                    </li>
                                {% endfor %}
                                {% for x in object.has_party_member.all %}
                                    <li>
                                        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Netzwerk</h4>
                        </div>
                        <div class="card-body">
                            <div id="visualization" style="position: relative; height: 400px; background: #fafafa;"></div>
                            <script type="text/javascript">
                                const visCard = document.getElementById('visualization')
                                var spinner = new Spinner().spin();
                                visCard.appendChild(spinner.el);
                                fetch("{% url 'netviz:graph' app_name='entities' model_name='institution' pk=object.id %}")
                                  .then(response => response.json())
                                  .then((graph) => {
                                    // jsonData is parsed json object received from url
                                    ReactDOM.render(
                                        React.createElement(NetworkVisualization.SelectionControls, {graph}),
                                        document.getElementById('visualization')
                                    )
                                  })
                                  .catch((error) => {
                                    // handle your errors here
                                    console.error(error)
                                  })
                                // const graph = JSON.parse(document.getElementById('netviz-data').textContent);

                            </script>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Zu Orten</h4>
                </div>
                <div class="card-body">
                    <div class="card-body">
                            <script type="text/javascript">

                                function map_init_basic (map, options) {
                                        {% if object.location.lat %}
                                            var instLocation = "liegt in: <a href='{{ object.location.get_absolute_url }}'>{{ object.location.name }} </a>"
                                            var lat = "{{ object.location.lat }}"
                                            var lng = "{{ object.location.lng }}"
                                            L.marker([parseFloat(lat), parseFloat(lng)]).addTo(map)
                                            .bindPopup(instLocation)
                                        {% endif %}

                                    };

                            </script>
                        <div style="padding:0;">

                            {% leaflet_map "yourmap" callback="window.map_init_basic" %}

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock custom %}
