{% extends "browsing/generic_detail.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block custom %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Kurzbio und Funktionen</h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>
                                {% get_verbose_name person "forename" %}
                            </th>
                            <td>
                                {{ object.forename }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name person "name" %}
                            </th>
                            <td>
                                {{ object.name }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name person "acad_title" %}
                            </th>
                            <td>
                                {{ object.acad_title }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name person "alt_names" %}
                            </th>
                            <td>
                                {{ object.alt_names }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name person "date_of_birth" %}
                            </th>
                            <td>
                                {{ object.date_of_birth }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name person "place_of_birth" %}
                            </th>
                            <td>
                                <a href="{{ object.place_of_birth.get_absolute_url }}">
                                    {{ object.place_of_birth }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name person "date_of_death" %}
                            </th>
                            <td>
                                {{ object.date_of_death }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name person "place_of_death" %}
                            </th>
                            <td>
                                <a href="{{ object.place_of_death.get_absolute_url }}">
                                    {{ object.place_of_death }}
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Kurzbio und Funktionen</h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>
                                {% get_verbose_name person "biography" %}
                            </th>
                            <td>
                                {{ object.biography }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name person "funktion" %}
                            </th>
                            <td>
                                {{ object.funktion }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name person "quelle" %}
                            </th>
                            <td>
                                {{ object.quelle }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% get_verbose_name person "authority_url" %}
                            </th>
                            <td>
                                <a href="{{ object.authority_url }}">
                                    {{ object.authority_url }}
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Beziehungen</h3>
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Zu Dokumenten</h3>
                </div>
                <div class="card-body">
                    <ul>
                        <li>
                            item 1
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Zu Institutionen</h3>
                </div>
                <div class="card-body">
                    <ul>
                        <li>
                            item 1
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Zu Orten</h3>
                </div>
                <div class="card-body">
                    <div id="map">
                        platz für eine Karte
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock custom %}
