{% extends "browsing/generic_detail.html" %}
{% load staticfiles %}
{% load leaflet_tags %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block scriptHeader %}
    {% leaflet_js %}
    {% leaflet_css %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/three@latest/build/three.min.js"></script>
    <script crossorigin src="https://unpkg.com/@acdh/network-visualization@0/lib/network-visualization.umd.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/wordcloud.js"></script>
{% endblock %}

{% block custom %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Info</h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>
                                Name
                            </th>
                            <td>
                                {{ object.name }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Geonames ID
                            </th>
                            <td>
                                <a href="{{ object.geonames_id }}">{{ object.get_geonames_rdf }}</a>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Koordinaten
                            </th>
                            <td>
                                <abbr title="lat">{{ object.lat|truncatechars:8  }}</abbr>
                            <br/>
                            <abbr title="lng">{{ object.lng|truncatechars:8  }}</abbr>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Alternative Namen
                            </th>
                            <td>
                                {{ object.alt_names }}
                            </td>
                        </tr>
                        {% if object.part_of %}
                        <tr>
                            <th>
                                Teil von
                            </th>
                            <td>
                                {% if object.part_of %}

                                <a href="{% url 'entities:place_detail' pk=object.part_of.id %}">{{ object.part_of }}</a>
                                {% else %}
                                No entry
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        {% if object.has_child.all %}
                            <tr>
                                <th>Übergeordnet von</th>
                                <td>
                                    <ul>
                                        {% for x in object.has_child.all %}
                                            {% if x.id %}
                                                <li>
                                                    <a href="{% url 'entities:place_detail' pk=x.id %}">{{ x }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Map</h4>
                </div>
                <div class="card-body">
                    {% if object.lat %}
                        <script type="text/javascript">

                            function map_init_basic (map, options) {
                                    var placeName = "{{ object.name }}"
                                    var lat = "{{ object.lat }}"
                                    var lng = "{{ object.lng }}"
                                    L.marker([parseFloat(lat), parseFloat(lng)]).addTo(map)
                                    .bindPopup(placeName)
                                    .openPopup();
                                };

                        </script>
                    {% endif %}
                    <div style="padding:0;">

                        {% leaflet_map "yourmap" callback="window.map_init_basic" %}

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="card col-md-12">
        <div class="card-header">
            <h3 class="card-title">Beziehungen</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">zu Dokumenten</h4>
                        </div>
                        <div class="card-body">
                            <legend>
                                Erwähnt in
                            </legend>
                            <ul>
                                {% for x in object.place_mentioned_in_res.all %}
                                    <li>
                                        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">zu Institutionen</h4>
                        </div>
                        <div class="card-body">
                            <ul>
                                {% for x in object.location_of_institution.all %}
                                    <li>
                                        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">zu Personen</h4>
                        </div>
                        <div class="card-body">
                            <legend>
                                Geburtsort von
                            </legend>
                            <ul>
                                {% for x in object.is_birthplace.all %}
                                    <li>
                                        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <legend>
                                Sterbeort von
                            </legend>
                            <ul>
                                {% for x in object.is_deathplace.all %}
                                    <li>
                                        <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Netzwerk</h4>
                        </div>
                        <div class="card-body">
                            <div id="visualization" style="position: relative; height: 400px; background: #fafafa;"></div>
                            <script type="text/javascript">
                                const visCard = document.getElementById('visualization')
                                var spinner = new Spinner().spin();
                                visCard.appendChild(spinner.el);
                                fetch("{% url 'netviz:graph' app_name='entities' model_name='place' pk=object.id %}")
                                  .then(response => response.json())
                                  .then((graph) => {
                                    // jsonData is parsed json object received from url
                                    ReactDOM.render(
                                        React.createElement(NetworkVisualization.SelectionControls, {graph}),
                                        document.getElementById('visualization')
                                    )
                                  })
                                  .catch((error) => {
                                    // handle your errors here
                                    console.error(error)
                                  })
                                // const graph = JSON.parse(document.getElementById('netviz-data').textContent);

                            </script>
                        </div>
                    </div>
                </div>

        </div>
    </div>

{% endblock custom %}
