{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %} About {% endblock %}
{% block content %}
<div class="container">
    <div class="card">

        <div class="card-body">
            <div>
                <h1>Die große Transformation</h1>
                <h3>Das Projekt</h3>
                <p>
                    Anlässlich großer politischer Umbrüche wie des Zerfalls des Habsburgerreichs und der darauffolgenden Entstehung der Ersten Republik liegt es nahe, nach Kontinuitäten und Brüchen in der öffentlichen Verwaltung zu fragen.
                </p>
                <p>
                    Dieses Projekt fokussiert auf die Transformationen, die in den unmittelbar auf das Ende der Monarchie folgenden Jahren auf der Ebene der Verwaltung des Bundes und der Stadt Wien stattfanden. Dabei war die Situation der städtischen Bediensteten weitaus vorteilhafter als jene der staatlichen, die vom Nationalitätenhader in den Nachfolgestaaten, Inflation und Personalabbau massiv betroffen waren.
                </p>
                <p>
                    Die Angelegenheiten der Staatsbediensteten wurden im Zusammenhang mit der Transformation im Staatsrat, im Kabinettsrat und in der Provisorischen Nationalversammlung verhandelt. Der Kabinettsrat setzte ein zwischenstaatsamtliches Komitee für Staatsangestelltenangelegenheiten für konkrete Fragen der Beamten im Zuge der Transformation ein. Dieses Komitee sollte die Schwierigkeiten bereinigen helfen, die durch den Zerfall der Monarchie den Beamten entstanden.
                </p>
                <p>
                    Die Angelegenheiten der Staatsbediensteten wurden im Zusammenhang mit der Transformation im Staatsrat, im Kabinettsrat und in der Provisorischen Nationalversammlung verhandelt. Der Kabinettsrat setzte ein zwischenstaatsamtliches Komitee für Staatsangestelltenangelegenheiten für konkrete Fragen der Beamten im Zuge der Transformation ein. Dieses Komitee sollte die Schwierigkeiten bereinigen helfen, die durch den Zerfall der Monarchie den Beamten entstanden.
                </p>
                <p>
                    Bedienstete des Bundes ebenso wie solche der Stadt Wien mussten anstelle des früheren Diensteids ein neues Gelöbnis auf die Republik ablegen. Die Gelöbnisformel wurde einige Male abgeändert. Bei der Gestaltung der neuen Dienstordnung der Bediensteten der Stadt Wien, die im April 1919 beschlossen wurde, waren Gemeinderäte ebenso wie Vertreter_innen unterschiedlicher Angestelltengruppen einbezogen. Eine moderne, demokratisierte Verwaltung war ein Anliegen der Stadt Wien. Die Stadtpolitiker konnten auf dem Wahlerfolg der Sozialdemokratischen Partei bei der Gemeinderatswahl im Mai 1919 aufbauen. Dieser war auch die maßgebliche Zäsur für die Verwaltung der Stadt Wien in Bezug auf die nun endgültig obsolete „Lueger-Ära“. Trotz der besseren Bezahlung im Vergleich mit den Bundesbeamten mussten sehr oft Teuerungszulagen ausverhandelt werden, um den Bediensteten der Stadt Wien den Lebensunterhalt zu sichern.
                </p>
                <h3>Die Datenbank</h3>
                <p>
                    Die Datenbank des Projekts „Die große Transformation“ versammelt relevante Quellen aus unterschiedlichen Archiven zu Fragen der Reform der Bundes- und Wiener Gemeindeverwaltung in der unmittelbaren Nachkriegszeit 1918 bis 1920. Der in der Datenbank edierte Quellenkorpus umfasst untenstehende Bestände und erlaubt erstmals in komparativer Perspektive einen Blick auf die Zusammenhänge in der Transformation der beiden Verwaltungsebenen durch die Republiksgründung. Die aus den Quellen erstellten Datensätze wurden beschlagwortet und die in ihnen erwähnten Personen, Institutionen und Orte erfasst. Darüber hinaus wurden die Quellen durch Beschreibungen und Inhaltsangaben versehen. Sie sind damit umfassend durchsuchbar. Wo möglich, werden ihnen Digitalisate bzw. Permalinks zu Digitalisaten beigestellt. Durch die zusätzliche Erfassung von Normdaten bei Personen und Orten ist die Anknüpfung an andere Datenbanken möglich und somit eine nachhaltige Verwendung sichergestellt.
                </p>
                <h3>Erfasste Bestände</h3>
                <p>
                    In der Datenbank erfasste Bestände:
                    <ul>
                        <li>
                            Verhandlungsschriften (Komitee Staatsangestellte)
                        </li>
                        <li>
                            Enquete (Zielrichtung mehr Mitbestimmung, Personalvertretung)
                        </li>
                        <li>
                            Relevante Akte Staatsrat und Kabinettsrat
                        </li>
                        <li>
                            Relevante Gesetze (Staatsgesetzblatt)
                        </li>
                        <li>
                            Zeitungen, Zeitschriften
                        </li>
                        <li>
                            Akten der Allgemeinen Registratur der Magistratsdirektion, Wiener Stadt- und Landesarchiv
                        </li>
                        <li>
                            Gemeinderats- und Stadtratsprotokolle wie in den Amtsblättern der Stadt Wien veröffentlicht
                        </li>
                        <li>
                            Akten des Parteiarchivs vor 1934 der SDAP, Verein der Geschichte der Arbeiterbewegung in Wien (VGA)
                        </li>
                        <li>
                            Tagblattarchiv zum Stichwort Beamten, Wienbibliothek
                        </li>
                        <li>
                            ÖGB-Archiv, Material zu Beamtenorganisationen
                        </li>
                    </ul>
                    Die Bestände werden gegenwärtig (Stand 10. Oktober 2018) erweitert.
                </p>
                <p>
                    Das Projekt wird finanziert durch den <a href="https://www.wien.gv.at/kultur/abteilung/wissenschaftsfonds/akademie-wissenschaften.html">Jubiläumsfonds der Stadt Wien für die Österreichische Akademie der Wissenschaften</a>.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
