{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load stats_extras %}
{% load webpage_extras %}
{% load news_extras %}
{% load leaflet_tags %}
{% block scriptHeader %}
    {% leaflet_js %}
    {% leaflet_css %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.Spin/1.1.0/leaflet.spin.js"></script>
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css" />
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/wordcloud.js"></script>
{% endblock scriptHeader %}
{% block content %}

<script type="text/javascript">
    function map_init_basic (map, options) {
        console.log('hallo')
        map.spin(true);
        var geojsonPointLayer = new L.GeoJSON.AJAX("/api/geojson/?format=geojson", {
           onEachFeature:function(feature, layer) {
                layer.bindPopup('<a href="'+feature.properties.url+'">'+feature.properties.name.toString()+'</a>');
            }
        });

        geojsonPointLayer.on('data:loaded', function () {
            var crashPlaceMarkers = new L.MarkerClusterGroup()
            map.spin(false);
            console.log('done')
            crashPlaceMarkers.addLayer(geojsonPointLayer);
            map.addLayer(crashPlaceMarkers);
        });
    }
</script>

        <div class="jumbotron" style="background-image: url({% static 'webpage/img/project_background.jpg' %}) ">
            <div class="container">
                <h1 style="text-align:center">{% projects_metadata 'title' %}</h1>
                <h3 style="text-align:center">{% projects_metadata 'subtitle' %}</h3>
                <h5 style="text-align:center">{% projects_metadata 'description' %}</h5>
                    <p>
                        WSTLA, MD 8093, 1918-22, foto by Veronika Helfert
                    </p>
                    <p>
                        <a class="btn btn-main btn-outline-primary btn-lg" href="{% url 'archiv:archresource_browse' %}" role="button">Alle Dokumente</a>
                        <a class="btn btn-main btn-outline-primary btn-lg" href="{% url 'archiv:schlagworte' %}" role="button">Schlagwortliste</a>
                    </p>
            </div>
        </div>

    <div class="container-fluid">
        {% newsfeed_bootstrap_panel %}<br>
        <div class="row">
            <div class="col-md-12">
                <h5 class="row-heading pb-2 mb-3 border-bottom"><i class="fas fa-paste"></i> Data-Count</h5>
            </div>

            {% create_object_count app='archiv' as models %}
            {% for x in models %}
                <div class="col-md-12  text-center">
                    <div class="card flex-md-row mb-4 box-shadow">
                        <div class="card-body">
                            <h4 class="mb-0">{{x.name}}</h4>
                            <h4 class="count">{{ x.count }}</h4>
                            {% if x.link %}
                                <a class="btn btn-main btn-outline-primary btn-sm" href="{{ x.link }}" role="button">View Details</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <hr />
            {% create_object_count app='entities' as models %}
            {% for x in models %}
                <div class="col-md-4  text-center">
                    <div class="card flex-md-row mb-4 box-shadow">
                        <div class="card-body">
                            <h4 class="mb-0">{{x.name}}</h4>
                            <h4 class="count">{{ x.count }}</h4>
                            {% if x.link %}
                                <a class="btn btn-main btn-outline-primary btn-sm" href="{{ x.link }}" role="button">View Details</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Erwähnte Orte</h3>
                        </div>
                        <div class="card-body">
                            <div id="mentioned_places" style="position: relative; height: 300px; background: #fafafa;">
                                {% leaflet_map "yourmap" callback="window.map_init_basic" %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Schlagworte</h3>
                        </div>
                        <div class="card-body">
                            <div id="wordcloud" style="position: relative; height: 300px; background: #fafafa;"></div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        const my_wcloud = document.getElementById('wordcloud')
                        var spinner = new Spinner().spin();
                        my_wcloud.appendChild(spinner.el);
                        fetch("{% url 'archiv:subject-cloud' %}")
                          .then(response => response.json())
                          .then((data) => {
                            // jsonData is parsed json object received from url
                            console.log(data)
                            Highcharts.chart(my_wcloud, {
                                series: [{
                                    type: 'wordcloud',
                                    data: data,
                                    name: 'Occurrences',
                                    // spiral: 'archimedean'
                                }],
                                title: false
                            });
                          })
                          .catch((error) => {
                            // handle your errors here
                            console.error(error)
                          })
                        // const graph = JSON.parse(document.getElementById('netviz-data').textContent);

                    </script>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Dokumente</h3>
                        </div>
                        <div class="card-body">
                            <div id="cal-heatmap2" />
                            </div>
                        </div>
                    </div>
                    <div id="cal-heatmap2"></div>
                </div>
            </div>
    </div>
    <script type="text/javascript">
        const visCard1 = document.getElementById('cal-heatmap2')
        var spinnerViscal = new Spinner().spin();
        var cal1 = new CalHeatMap();
        visCard1.appendChild(spinnerViscal.el);
        fetch("{% url 'calheatmap:calheatmap_data' app_name='archiv' model_name='archresource' field_name='not_before' %}")
          .then(response => response.json())
          .then((graph) => {
            console.log(graph);
            spinnerViscal.stop();
            cal1.init({
                itemSelector: "#cal-heatmap2",
                data: graph,
                start: new Date(1918, 6), // January, 1st 2000
                range: 3,
                domain: "year",
                subDomain: "day",
                rowLimit: 12,
                tooltip: true,
                verticalOrientation:  false,
                legend: [2, 4, 8, 10],
                itemName: ["Dokument", "Dokumente"]
            });
          })
          .catch((error) => {
            // handle your errors here
            console.error(error)
          })

    </script>
{% endblock %}
