{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %} Team {% endblock %}
{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1 class="card-title">GTrans Team</h1>
            </div>
            <div class="card-body">
                <h2 class="card-title">Historiker_innen</h2>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Veronika Helfert</h5>
                                <p class="card-text">Veronika Helfert ist Projektmitarbeiterin am Institut für Österreichische Geschichtsforschung der Universität Wien und Kuratorin. Sie arbeitet zur Transformationsphase der Habsburgermonarchie zur Ersten Republik aus einer frauen- und geschlechterhistorischen sowie einer verwaltungsgeschichtlichen Perspektive.</p>
                                <a href="https://geschichtsforschung.univie.ac.at/ueber-uns/personen/projektmitarbeiter-innen/helfert-veronika/" class="btn btn-main btn-outline-primary btn-sm">website &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Karl Megner</h5>
                                <p class="card-text">Karl Megner war in seiner aktiven Berufszeit stv. Bibliotheksleiter und Lektor an der Universität Wien. Seine Publikationen befassen sich u.a. mit der Sozialgeschichte der österreichischen Beamten, mit Rechtsgeschichte und der Geschichte des Buchhandels und Verlagswesens.</p>
                                <!-- <a href="#" class="btn btn-main btn-outline-primary btn-sm">website &raquo;</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Guenther Steiner</h5>
                                <p class="card-text">Guenther Steiner ist Projektmitarbeiter am Institut für Österreichische Geschichtsforschung der Universität Wien. Er arbeitet vor allem zur politischen Zeitgeschichte Österreichs und zur Geschichte der Sozialversicherung in Österreich.</p>
                                <a href="https://wirtschaftsgeschichte.univie.ac.at/menschen/wissenschaftliche-mitarbeiterinnen/steiner-guenther/" class="btn btn-main btn-outline-primary btn-sm">website &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Therese Garstenauer</h5>
                                <p class="card-text">Therese Garstenauer erforscht in diesem Projekt den Bereich der Bediensteten der Stadt Wien. Sie ist Senior Post-Doc am Institut für Wirtschafts- und Sozialgeschichte der Universität Wien mit einem Habilitationsprojekt zu standesgemäßer Lebensführung von österreichischen Staatsbediensteten der Zwischenkriegszeit.</p>
                                <a href="https://wirtschaftsgeschichte.univie.ac.at/menschen/wissenschaftliche-mitarbeiterinnen/garstenauer-therese/" class="btn btn-main btn-outline-primary btn-sm">website &raquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="card-title">Projektleitung und Koordination</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Peter Becker</h5>
                                    <p class="card-text">Peter Becker ist Projektleiter und Professor für Österreichische Geschichte und Geschichte des 19. und 20. Jahrhunderts am Institut für Geschichte der Universität Wien. Zu seinen Forschungsschwerpunkten zählen Verwaltungsgeschichte und die Geschichte der Kriminologie.</p>
                                    <a href="https://geschichtsforschung.univie.ac.at/ueber-uns/personen/wissenschaftliche-angehoerige-ig/becker-peter/" class="btn btn-main btn-outline-primary btn-sm">website &raquo;</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Thomas Stockinger</h5>
                                    <p class="card-text">Thomas Stockinger war von 2014 bis 2019 Universitätsassistent am Institut für Österreichische Geschichtsforschung der Universität Wien. Derzeit ist er wissenschaftlicher Mitarbeiter am Leibniz-Archiv an der Gottfried Wilhelm Leibniz Bibliothek/Niedersächsischen Landesbibliothek Hannover. Zu seinen Forschungsfeldern gehören die Geschichte der öffentlichen Verwaltung im 19. Jahrhundert, die Geschichte der Demokratisierung und speziell der Wahlen sowie die Geschichte der Methoden der Geschichtsforschung und der frühneuzeitlichen historischen Gelehrsamkeit. </p>
                                    <a href="https://www.gwlb.de/Leibniz/Leibnizarchiv/Mitarbeiter/stockinger.htm" class="btn btn-main btn-outline-primary btn-sm">website &raquo;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                <h2 class="card-title">Developement</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Peter Andorfer</h5>
                                    <p class="card-text">Peter Andorfer ist wissenschaftlicher Mitarbeiter am Austrian Centre for Digital Humanities an der Österreichischen Akademie der Wissenschaften und ist verantwortlich für technischen Aspekte des Projektes und die Datenmodellierung.</p>
                                    <a href="https://www.oeaw.ac.at/acdh/team/current-team/peter-andorfer" class="btn btn-main btn-outline-primary btn-sm">website &raquo;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
