{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %} Team {% endblock %}
{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1 class="card-title">GTrans Team</h1>
            </div>
            <div class="card-body">
                <h2 class="card-title">HistorikerInnen</h2>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Veronika Helfert</h5>
                                <p class="card-text">Text folgt</p>
                                <a href="#" class="btn btn-main btn-outline-primary btn-sm">website &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Karl Megner</h5>
                                <p class="card-text">Text folgt</p>
                                <a href="#" class="btn btn-main btn-outline-primary btn-sm">website &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Günther Steiner</h5>
                                <p class="card-text">Text folgt</p>
                                <a href="#" class="btn btn-main btn-outline-primary btn-sm">website &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Therese Garstenauer</h5>
                                <p class="card-text">Text folgt</p>
                                <a href="#" class="btn btn-main btn-outline-primary btn-sm">website &raquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="card-title">Projektleitung und Koordination</h2>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Peter Becker</h5>
                                    <p class="card-text">text folgt</p>
                                    <a href="#" class="btn btn-main btn-outline-primary btn-sm">website &raquo;</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Thomas Stockinger</h5>
                                    <p class="card-text">text folgt</p>
                                    <a href="#" class="btn btn-main btn-outline-primary btn-sm">website &raquo;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                <h2 class="card-title">Developement</h2>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Peter Andorfer</h5>
                                    <p class="card-text">Peter Andorfer ist verantwortlich für technischen Aspekte des Projektes und die Datenmodellierung.</p>
                                    <a href="https://www.oeaw.ac.at/acdh/team/current-team/peter-andorfer" class="btn btn-main btn-outline-primary btn-sm">website &raquo;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
