{% extends "webpage/base.html" %}
{% block Titel %}
    {% if 'q' in request.GET %}
        results for "{{ searchstring }}""
    {% else %}
        nothing searched for
    {% endif %}
{% endblock %}

{% block content %}
<div class="container">
{% if 'q' in request.GET %}
    <h2>
        Hit{{ total_results|pluralize }} for <strong>{{ searchstring }}</strong>
    </h2>
    <div class="results">
<table class="table table-hover">
    <tr>
        <th>Score</th>
        <th>Class</th>
        <th>actual object</th>
    </tr>
    {% for result in page.object_list %}
        <tr>
            <td>
                {{ result.score|floatformat  }}
            </td>
            <td>
                <a href="{{ result.object.get_absolute_url }}">{{ result.model_name }}</a>
            </td>
            <td>
                {{result.object }}
            </td>
        </tr>
    {% endfor %}
</table>
            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
</div>

{% else %}
    <h2> no search </h2>
{% endif %}
</div>

{% endblock %}
